<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title> <!-- Judul Halaman -->
    <link rel="icon" href="/img/cuaca.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js" defer></script> <!-- Menambahkan 'defer' untuk skrip -->
</head>
<body>
    <div class="main-content">
        {{> header}} <!-- Menggunakan partial header -->
        <img src="/img/download.png" alt="Gambar Download"> <!-- Jalur gambar yang benar -->
    </div>
    {{> footer}} <!-- Menggunakan partial footer -->
    <!-- Menambahkan tautan kembali ke halaman utama -->
    <a href="/">Kembali ke Halaman Utama</a>
</body>
</html>
